
{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ movie.title }}</title>
</head>
<body>
    <h1>{{ movie.title }}</h1>
    <p>Genre: {{ movie.genre }}</p>
    <p>Duration: {{ movie.duration }} minutes</p>
    <p>Rating: {{ movie.rating }}</p>
    <h2>Showtimes</h2>
    <ul>
        {% for showtime in showtimes %}
            <li>
                {{ showtime.date }} at {{ showtime.time }} -
                <a href="{% url 'book_showtime' showtime.id %}">Book Now</a>
            </li>
        {% endfor %}
    </ul>
</body>
</html>
